/*
 Please feel dree to delete the below style, it is only for example. You will place all your styles in this css file.
*/
/*
 Please feel dree to delete the below style, it is only for example. You will place all your styles in this css file.
*/
h1 {
  font-size: 56px;
  font-weight: 300;
  margin: 0;
  color: #4b4a4a;
}

.title-front{
  color:#ff0000; /* Hot Sauce Red-Following as closely to the original design*/
  padding-left: 60px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
}

p {
  color: #000;
  margin-top: 0;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.HotSauceApp {
  max-width: 960px;
  margin: auto;
}

.HotSauceBox {
  display: inline-flex;
  flex-direction: column;
  padding-left: 62px;
  padding-bottom: 16px;
  width: 291px;
  background: #fff;
}

.HotSauceBox-ImageContainer {
  margin: 0;
  padding-top: 6px;
  order: 1;
  display: inline-block;
  height: 194px;
  border: 1px solid #dcdcdc; /* light grayish color-used to ouline the image in the design */
}

.HotSauceBox-DescriptionContainer {
  order: 2;
  overflow: hidden;
  background: #f3f3f3;
  height: 81px;
}

.HotSauceBox-DescriptionContainer h2 {
  color: #333;
  font-weight: 400;
  margin: 0;
  padding: 3px;
}

.HotSauceBox-DescriptionContainer p {
  color: #555;
  padding-left: 5px;
}

.HotSauceInformation {
  border: 1px solid #ddd;
  display: flex;
  width: 1183px;
}

.HotSauce-Title {
  background: #f2f2f2; /* This is the background color to the desciption of the hotsauce--sticking to design as closely*/
  padding: 40px;
}

.HotSauce-Title p:hover {
cursor: pointer;
}

.HotSauce-Image {
  background: #dedede;
  text-align: center;
  width: 934px;
  height: 500px;
}

.HotSauce-Image img {
  min-height: 100%;
}

.HotSauce-Description {
  padding: 10px;
}


